server/schema/query_schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="requestType">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="SELECT_QUERY"/>
                            <xs:enumeration value="INSERT_QUERY"/>
                            <xs:enumeration value="DELETE_QUERY"/>
                            <xs:enumeration value="UPDATE_QUERY"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="tableName" type="xs:string"/>
                <xs:choice>
                    <!-- If requestType is UPDATE -->
                    <xs:sequence>
                        <xs:element name="updateField">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="updateFieldName" type="xs:string"/>
                                    <xs:element name="updateFieldValue" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="filter" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="filter" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="leftOp">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="isColumnName" type="xs:boolean"/>
                                                            <xs:element name="value" minOccurs="0">
                                                                <xs:simpleType>
                                                                    <xs:union
                                                                            memberTypes="xs:string xs:int xs:double xs:boolean"/>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="operator">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:enumeration value="=="/>
                                                            <xs:enumeration value="&lt;"/>
                                                            <xs:enumeration value="&gt;"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="rightOp">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="isColumnName" type="xs:boolean"/>
                                                            <xs:element name="value" minOccurs="0">
                                                                <xs:simpleType>
                                                                    <xs:union
                                                                            memberTypes="xs:string xs:int xs:double xs:boolean"/>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>

                    <!-- If requestType is DELETE or SELECT -->
                    <xs:sequence>
                        <xs:element name="filter" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="filter" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="leftOp">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="isColumnName" type="xs:boolean"/>
                                                            <xs:element name="value" minOccurs="0">
                                                                <xs:simpleType>
                                                                    <xs:union
                                                                            memberTypes="xs:string xs:int xs:double xs:boolean"/>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="operator">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:enumeration value="=="/>
                                                            <xs:enumeration value="&lt;"/>
                                                            <xs:enumeration value="&gt;"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="rightOp">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="isColumnName" type="xs:boolean"/>
                                                            <xs:element name="value" minOccurs="0">
                                                                <xs:simpleType>
                                                                    <xs:union
                                                                            memberTypes="xs:string xs:int xs:double xs:boolean"/>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="join" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="leftOperand">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="leftTable" type="xs:string"/>
                                                <xs:element name="leftField" type="xs:string"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="rightOperand">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="rightTable" type="xs:string"/>
                                                <xs:element name="rightField" type="xs:string"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="selectedVal" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="entity" type="xs:string" minOccurs="0"/>
                                    <xs:element name="field" type="xs:string" minOccurs="0"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <!-- If requestType is INSERT -->
                    <xs:element name="insertValues" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="field" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="type" type="Literal"/>
                                            <xs:element name="value" type="xs:string"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Literal">
        <xs:restriction base="xs:string">
            <xs:enumeration value="STRING_LITERAL"/>
            <xs:enumeration value="INTEGER_LITERAL"/>
            <xs:enumeration value="DOUBLE_LITERAL"/>
            <xs:enumeration value="BOOL_LITERAL"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>